@import './__title/recycle-item__title.scss';
@import './__subtitle/recycle-item__subtitle.scss';

.recycle-item__button {
    background-color: rgba(255,255,255,0);
    color: rgba(255,255,255,1);
    border: none;
    outline: none;

    cursor: pointer;
    text-align: left;

    box-sizing: border-box;
    align-self: start;
    padding: 0
}

.recycle-item__button:hover {
    color: rgba(255, 217, 0, 1)
}

@keyframes backgroundChanging {
    from {background-color: rgba(255,255,255,0)}
    to {background-color: rgba(255,255,255,0.2)}
    }