@import '../../../styles/variables.scss';

.footer__text {
    font-family: Gilroy;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

    color: $textColorLight;
    font-size: 16px;
    margin: .7em .7em 0 0;
    text-align: left;
}

.footer__text_dark {
    color: $textColorDark;
}

@media (max-width: 567px) {
    .footer__text {
        font-size: 14px;
    }
}