@import './__title/recycle-bin__title.scss';
// @import './__button-title/recycle-bin__button-title.scss';
// @import './__button-time/recycle-bin__button-time.scss';
// @import './__items-counter/recycle-bin__items-counter.scss';

.recycle-bin { 

    position: fixed;
    top: 50px;
    right: 120px;

    display: none;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;

    width: 250px;
    border-radius: 25px;

    background-color: rgb(53, 43, 43);
    border: none;
    outline: none;

    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 25px;

    z-index: 10001;
}

.recycle-bin_active {
    display: flex;
}