@import '../../styles/variables.scss';

.recycle-bin { 
    position: fixed;
    
    top: 50px;
    right: 120px;

    display: none;
    flex-direction: column;

    width: 260px;
    border-radius: $mainBorderRadius;

    background-color: $popupColor;
    border: none;
    outline: none;

    box-sizing: border-box;
    padding: 25px;

    z-index: 10001;
}

.recycle-bin_active {
    display: flex;
}

@media (max-width: 1023px) {
    .recycle-bin {
        right: 60px;
    }
}

@media (max-width: 567px) {
    .recycle-bin {
        top: 40px;
        right: 40px;
    }
}