@import './__title/recycle-bin__title.scss';
// @import './__button-title/recycle-bin__button-title.scss';
// @import './__button-time/recycle-bin__button-time.scss';
// @import './__items-counter/recycle-bin__items-counter.scss';

.recycle-bin { 

    position: fixed;
    top: 50px;
    right: 120px;

    display: none;
    flex-direction: column;

    width: 260px;
    border-radius: 25px;

    background-color: rgba(0, 0, 0, .8);
    border: none;
    outline: none;

    box-sizing: border-box;
    padding: 25px;

    z-index: 10001;
}

.recycle-bin_active {
    display: flex;
}

@media (max-width: 1023px) {
    .recycle-bin {
        right: 60px;
    }
}

@media (max-width: 567px) {
    .recycle-bin {
        top: 40px;
        right: 40px;
    }
}