.mode-switch {
    width: 50px;
    height: 25px;
    background-color: green;
    outline: none;
    
    cursor: pointer;

    box-sizing: border-box;
    margin: 0 0 0 0;
    border-radius: 100px;
    // align-self: start;
}