@import './__title/stat__title.scss';
@import './__number/stat__number.scss';
@import './__word/stat__word.scss';

.stat {
    grid-area: stat;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}