@import './__title/stat__title.scss';
@import './__number/stat__number.scss';
@import './__word/stat__word.scss';
@import './__item/stat__item.scss';

@import '../../styles/variables.scss';

.stat {

    height: 70px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 0 auto 0 0
}