@import './__avatar/about-author__avatar.scss';
@import './__title/about-author__title.scss';
@import './__subtitle/about-author__subtitle.scss';

.about-author {
    position:relative;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

@media (max-width: 1023px) {
    .main-content {
        padding: 120px 60px 20px 60px
    }
}

@media (max-width: 567px) {
    .main-content {
        padding: 110px 60px 20px 20px;
     }
}