.button__counter {
    position: absolute;
    top: 0;
    right: 0;

    background-color: red;
    
    width: 30%;
    height: 30%;
    border-radius: 50%;

    color: white;

    font-family: Gilroy;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    box-sizing: border-box;
}