@import '../../../styles/variables.scss';


.stat__number {

    font-family: Gilroy;
    font-weight: 600;
    // text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;

    margin: 0;

    color: $textColorLight;

    letter-spacing: 1px;
    text-align: left;
}

.stat__number_dark {
    color: $textColorDark;
}

@media (max-width: 379px) {
    .stat__number {
        font-size: 12px;
        line-height: 12px;
    }
}