.stat__number {
    font-family: Gilroy;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
    margin: 0 0 24px 0;
    text-align: left;
    font-size: 4em;
}