@import './__text/popup__text.scss';

.popup {
    display: none;
    flex-direction: column;
    position: fixed;
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);


    width: 300px;
    // height: 300px;

    padding: 25px;
    border-radius: 5px;
    box-sizing: border-box;

    background-color: black;

    z-index: 10003;
}

.popup_active {
    display: flex;
}