.toolbar {
    position: fixed;
    top: 120px;
    right: 70px;

    display: flex;
    flex-direction: column;
}

@media (max-width: 1023px) {
    .toolbar {
        top: 120px;
        right: 10px
     }
}