@import '../../styles/variables.scss';

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $backgroundColorLight;
    padding: 120px 120px 20px 120px;
    box-sizing: border-box;
}

.main_dark {
    background-color: $backgroundColorDark;
}

@media (max-width: 1023px) {
    .main {
        padding: 120px 60px 20px 60px
    }
}

@media (max-width: 567px) {
    .main {
        padding: 110px 60px 12px 20px;
     }
}