.footer__icon-link {
    width: 24px;
    margin: .5em .5em 0 0;
}

.footer__icon-link:last-of-type {
    margin-right: 0;
}

.footer__icon-link :active, :focus {
    border: none; 
    // outline: none; 
}

.footer__icon-link :hover {
    opacity: .85
}