@import './__logo/header__logo.scss';
@import '../../styles/variables.scss';

.header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 1.6em 1.2em;

    border-bottom: .1px solid $borderColor;
    background-color: $backgroundColor;

    align-items: center;
}

.header_night {
    background-color: $backgroundColorNight;
}