// @import './__button/recycle-bin__button.scss';
// @import './__button-title/recycle-bin__button-title.scss';
// @import './__button-time/recycle-bin__button-time.scss';
@import './__items-counter/recycle-button__items-counter.scss';

.recycle-button { 

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    cursor: pointer;

    background-color: rgb(53, 43, 43);
    border: none;
    outline: none;

    box-sizing: border-box;
    margin: 0 0 0 0;
}