@import './__logo/footer__logo.scss';
@import './__text/footer__text.scss';
@import './__copyright/footer__copyright.scss';
@import './__social-links/footer__social-links.scss';
@import './__icon-link/footer__icon-link.scss';

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: white;

    align-items: top;    // opacity: ;

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1.2em 120px 0 120px;

    border-top: .1px solid #DDDDDD;
}