@import '../../../styles/variables.scss';

.about__subtitle {
    color: $textColorLight;
    width: 100%;
    text-align: left;

    margin-top: 10px;

    font-family: Gilroy;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 1px;
}

.about__subtitle_dark {
    color: $textColorDark;
}

@media (max-width: 379px) {
    .about__subtitle {
        font-size: 26px;
        line-height: 26px;
    }
}