@import '../../../styles/variables.scss';

.text__input {
    width: 100%;
    height: calc(100vh - 200px);
    box-sizing: border-box;
    background-color: $textInputColorLight;
    border: none;
    border-radius: $mainBorderRadius;
    padding: 32px;
    resize: none;
    color: $textColorLight;
    outline: none;

}

.text__input_dark {
    background-color: $textInputColorDark;
    // border: 1px solid $borderColorDark;
    color: $textColorDark;
}

.text__input:focus {
    outline: none;
}

@media (max-width: 567px) {
    .text__input {
        height: calc(100vh - 300px);
        padding: 16px;
    }
}