.text__input {
    width: 100%;
    min-height: 700px;
    height: auto;
    // height: 100px;

    box-sizing: border-box;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 32px;
}

.text__input:focus {
    outline: none;
    border: 1px solid #DDDDDD;
}

@media (max-width: 567px) {
    .text__input {
        padding: 16px;
    }
}