@import '../../../styles/variables.scss';

.text__input {
    width: 100%;
    height: calc(100vh - 200px);
    box-sizing: border-box;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    border-radius: $mainBorderRadius;
    padding: 32px;
    resize: none;
}

.text__input:focus {
    outline: none;
    border: 1px solid #DDDDDD;
}

@media (max-width: 567px) {
    .text__input {
        // height: calc(100vh - 300px);
        padding: 16px;
    }
}