@import './__toolbar/main-content__toolbar.scss';
@import './__logo/main-content__logo.scss';

.main-content {
    position: relative;

    display: flex;
    flex-direction: column;

    margin: 120px 120px;
    box-sizing: border-box;
}

@media (max-width: 1023px) {
    .main-content {
        margin: 120px 60px
    }
}

@media (max-width: 567px) {
    .main-content {
        margin: 110px 60px 120px 20px
     }
}