@import './__toolbar/main-content__toolbar.scss';
@import './__logo/main-content__logo.scss';

.main-content {
    position: relative;

    display: flex;
    flex-wrap: nowrap;

    margin: 120px 120px;
    box-sizing: border-box;
}

.text_generator { grid-area: text_generator; }
