.main-content {
    padding: 1.2em 1.2em 6em 1.2em;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 20fr 1fr 6fr;
    grid-template-rows: 0.05fr 0.1fr 0.1fr;
    gap: 13px 13px;
    grid-template-areas:
      "text toolbar text_generator"
      "text toolbar stat"
      "text toolbar recycle_bin";
    }

.text_generator { grid-area: text_generator; }
.recycle_bin { grid-area: recycle_bin; }